#header-container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: white;
  color: white;
  align-items: center; }

.logo {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding: 10px;
  margin-left: 25%; }

.nav-menu {
  margin-right: 25%;
  font-family: "Lato", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 3px; }
  .nav-menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0; }
  .nav-menu li {
    display: inline-block;
    text-transform: uppercase;
    padding: 10px; }
  .nav-menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding: 20px 0 20px 0;
    display: inline-block; }
    .nav-menu a:hover {
      background: white;
      border-color: #333;
      color: gray; }

main {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center; }

#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #3498db;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  #scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff; }
    #scroll span:hover {
      opacity: 1;
      filter: "alpha(opacity=100)";
      -ms-filter: "alpha(opacity=100)"; }

#img-container {
  background-image: url("http://b100quadcities.com/files/2015/04/piano.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  font-size: 100%; }
