#img-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center;
  height: auto;
  width: 100%;
  padding-top: 50px;

}
img {
  width: 100%;
  height: 100%;
}
