#header-container {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background: white;
  color: white;
  align-items: center;
  overflow: hidden;
  .logo {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 10px;
  }
  .nav-menu {
    font-family: "Lato", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 3px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    li {
      display: inline-block;
      text-transform: uppercase;
      padding: 10px;
    }
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      padding: 20px 0 20px 0;
      display: inline-block;
      &:hover {
        background:white;
        border-color:#333;
        color:gray;
      }
    }
  }
}


