#service-info {
  width: 100%;
  height: auto;
  background-color: rgb(247, 247, 247);

  .service-info_container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    .service-info_block {
      width: 400px;
      height: auto;
      text-align: center;
      margin-left: 20px;
      margin-right: 20px;
      .blockh2 {
        font-size: 18px;
      }
      .icon-container {
        color:#e5ae47;
        background:#ffffff;
        border-style:solid;
        border-color:#e0e0e0;
        border-width:1px;
        width:80px;
        height:80px;
        line-height:80px;
        border-radius:500px;
        font-size:32px;
        display:inline-block;
        .service-icon {
          height: auto;
          width: auto;
          padding-top: 14px;
        }
      }
      .heading-line_numbers {
        border-style: solid;
        border-bottom-width: 1px;
        border-color: rgb(229, 174, 71);
        width: 50px;
        margin: 0 auto;
        display: block;
      }
    }
  }
}
/*
.reveal {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition: opacity 0.8s, transform 0.8s;

  &_visible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
*/
