#service-numbers {
  width: 100%;
  height: auto;
  background-color: white;
  .service-numbers_container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row wrap;
    .service-numbers_block {
      width: 400px;
      height: auto;
      text-align: center;

      .counter {
        font-weight: 500;
        font-size: 55px;
        font-family: "Lato", Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: #7a7a7a;
        margin: 0;
        padding: 0;
      }
      .icon-container_numbers {
        border-width:1px;
        width:80px;
        height:80px;
        line-height:80px;
        font-size:32px;
        display:inline-block;
        .service-icon_numbers {
          height: auto;
          width: auto;
          padding-top: 14px;
        }
      }
      .heading-line_numbers {
        border-style: solid;
        border-bottom-width: 1px;
        border-color: rgb(228, 228, 228);
        width: 50px;
        margin: 0 auto;
        display: block;
      }
    }
  }
}
.timer-word {
  color: #3e3e3e;
  font-size: 16px;

}
.reveal {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition: opacity 0.8s, transform 0.8s;

  &_visible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
