#service-container {
  height: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  .service {
    padding-top: 20px;
    max-width: 960px;
    float: none;
    margin: 0 auto;
    text-align: center;
    .headh2 {
      font-size: 50px;
      font-weight: 700;
      color: #3a3a3a;
      margin: 0;
      padding-bottom: 20px;
    }
    .service-line {
      border-style: solid;
      border-bottom-width: 0.2px;
      border-color: rgb(224, 224, 224);
      width: 130px;
      margin: 0 auto;
      display: block;
    }
    p {
      padding-top: 20px;
      color: grey;
    }
  }
}


