@import "layout/header";

@import "layout/main";

@import "components/cdtop";

@import "layout/bgimg";

@import "layout/filter";

@import "layout/service";
@import "layout/service-info";
@import "layout/service-numbers";

body {
  padding: 0;
  margin: 0;
  font-size: 100%;
}
